<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Karthik N - Resume</title>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- CSS -->
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Owl Carousel -->
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">

    <!-- Magnific-popup lightbox -->
    <link href="/css/magnific-popup.css" rel="stylesheet">

    <!-- Simple text rotator -->
    <link href="/css/simpletextrotator.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">

    <!-- Animate css -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.css" rel="stylesheet">

    <!-- Custom styles CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" media="screen">



</head>
<body>

    <div class="wrapper">

        <!-- Preloader -->

        <div id="preloader">
            <div id="status">
                <div class="status-mes"><h4>Karthik Nathani</h4></div>
            </div>
        </div>

        <!-- Navigation start -->

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#intro">Karthik Nathani</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#intro">home</a></li>
                        <li><a href="#profile">Profile</a></li>
                        <!-- <li><a href="#services">Services</a></li> -->
                        <li><a href="#resume">Resume</a></li>
                        <li><a href="#portfolio">Portfolios</a></li>
                        <li><a href="http://52.14.52.141/#!/" target="new">Event Hosting Application</a></li>
                        <!--<li><a href="#portfolio">Portfolio</a></li>-->
                    
                    </ul>
                </div>

            </div>
        </nav>

        <!-- Navigation end -->

        <!-- Intro section start -->

        <section id="intro" class="section">

            <div class="container" >

                <div class="row">

                    <div class="col-md-12">

                        <div class="hello wow bounceInDown">
                            <h1>Hello, I'm Karthik Nathani</h1>
                            <h3><span class="rotate">UX Designer. | UI Developer. | Business Analyst.</span></h3>
                        </div>

                        <a href="#profile">
                            <div class="mouse-icon">
                                <div class="wheel"></div>
                            </div>
                        </a>

                    </div>

                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!-- Intro section end -->

        <!-- Profile contact callout section -->

        <section id="profile-contact">

            <div class="container">

                <div class="row">

                    <div class="col-sm-4 wow bounceInUp">
                        <div class="profile-item">
                            <i class="fa fa-envelope"></i>
                            <h5>karthik.uiAngular@gmail.com </h5>
                        </div>
                    </div>


                    <div class="col-sm-4 wow bounceInUp">
                        <div class="profile-item">
                            <i class="fa fa-phone"></i>
                            <h5>(614)655-6904 </h5>
                        </div>
                    </div>

                    <div class="col-sm-4 wow bounceInRight">
                        <a href="#contact" class="btn btn-default btn-custom-2 pop-up"><i class="fa fa-paper-plane-o icon-before"></i> Contact me</a>
                    </div>

                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!-- Profile contact callout section -->

        <!-- Profile section start -->
        <section class="callout">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 hidden-xs wow bounceInLeft">
                        <h3>My status</h3>
                    </div>

                    <div class="col-md-9 headline nomargin wow bounceInDown">
                        <h3>I'm Available immediately.</h3>
                        <p>Open to Relocate</p>
                        
                    </div>

                </div><!-- .row -->

            </div><!-- .container -->

        </section>
        <section id="profile" class="section" style="padding-top:10px; padding-bottom:10px ;">

            <div class="container">

                <div class="row">

                    <div class="headline wow bounceInDown" style="margin-bottom: 15px;">
                        <h2>Karthik Nathani</h2>
                        <p>UX Designer. UI Developer.  Business Analyst. </p>
                    </div>

                    <!--<div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">-->
                        <!--<img class="avatar" src="/images/angularjs.png" alt="">-->
                    <!--</div>-->

                    <div class="col-md-4 col-sm-6 wow bounceInUp">

                        <div class="profile-widget">
                            <h3>Skillset</h3>

                            <h5>HTML5 / CSS3</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                            </div>
                            <h5>Adobe PhotoShop</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                            </div>
                            <h5>Bootstrap</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                            </div>
                            <h5>JavaScript</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                            </div>



                            <h5>Angular JS(1.X,2 & 4)</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                            </div>

                            <h5>SQL</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                            </div>
                            <h5>Node JS</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                            </div>

                        </div>


                    </div><!-- .col-md-3 -->

                    <div class="col-md-8 col-sm-6 wow bounceInRight">
                        <h3>Professional Profile</h3>
                        
                        <p>Over 6+ years of extensive professional experience with HTML5, XHTML, DOM, CSS3, JavaScript,
                            AJAX, and Leading User Interface (UI) web applications.</p>

                        <p>Knowledge of complete SDLC of the project involving Design, Development, Testing and Implementation of the Project.</p>

                        <p>Extremely proficient with web Development using JavaScript, especially using jQuery, AngularJS(1.X,2 and 4), Bootstrap and jQueryUI frameworks in AJAX driven websites.</p>

                        <p>Experience in analysing client’s business rules, ensure alignment with development teams and Designing Mockups using Adobe Photoshop and ability to write clear, well-documented, well-commented and efficient code for web development.</p>
                    <div class="row">

                    <div class="wow bounceInUp">

                        <a style="cursor: pointer;" href="#portfolio"class="btn btn-default btn-custom-2 pop-up"><i class="fa fa-briefcase fa-lg icon-before"></i> View My Work Samples</a>
                    </div>


                </div><!-- .row -->

                    </div>

                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!-- Profile section end -->

        <!-- Callout section start -->

         <section id="stats" class="callout" style="box-shadow: 0 0 4px rgba(0, 0, 0, .2);" >

            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
                        <h3>My Stats</h3>
                                            </div>

                    <div class="col-md-3 col-sm-4 wow bounceInDown" >
                        <div class="stat">
                            <div class="stat-icon">
                                <h2><i class="fa fa-briefcase hidden-xs"></i><span class="timer" data-to="7"></span></h2>
                            </div>
                            <h3>Projects</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 wow bounceInUp">
                        <div class="stat">
                            <div class="stat-icon">
                                <h2><i class="fa fa-code hidden-xs"></i>9+</h2>
                            </div>
                            <h3>Technologies</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 wow bounceInRight">
                        <div class="stat">
                            <div class="stat-icon">
                                <h2><i class="fa fa-child hidden-xs"></i><span class="timer" data-to="55000"></span>+</h2>
                            </div>
                            <h3>Happy customers</h3>
                        </div>
                    </div>

             </div>

        </div>

         </section>


        <section id="resume" class="section">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 headline wow bounceInDown" style="margin-bottom: 20px;">
                        <h2>Resume</h2>
                        <p>My Work Experience.</p>
                    </div>

                </div><!-- .row -->

                <div class="row resume-items" style="margin-bottom: 10px;">

                    <div class="col-md-3 wow bounceInLeft">
                        <h3>Experience</h3>
                    </div>
                    <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
                        <h4>UX Designer & UI Developer</h4>
                      
                        <p>
                            Responsible for Developing Application using HTML5, CSS3, Flex, Bootstrap, and Angular  2.0
                            for Agents Enterprise Application called Chubb SCI Portal.

                        </p>
                        <p>
                            Created Single Page Application (SPA) using Angular JS 2.0 UI-Route, Dependency Injection design pattern on Controller and Services for shared data between controllers.
                        </p>
                        <p>Involved in requirement gathering, designing mockups, development, Code Reviews, and unit testing.</p>
                        <p>
                            Created Typescript Reusable multi slot content projection, parent and child components and services to consume REST API's using Component based architecture provided by Angular 2.
                        </p>
                        <p>Implemented Pre-Loading Data and Lazy loading for Feature Modules, which increase the application performance, third party dependency, service injection into application like alert message service provided by Toastr, JQuery, Parallax scrolling using OpaqueToken Decorators of Angular 2.0.</p>
                        <hr class="hidden-xs">
                    </div>

                    <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                        <h4><i class="fa fa-suitcase"></i> Chubb Group of Insurance Co </h4>
                        <i class="fa fa-calendar"></i> Feb 2017 - Present
                        <hr class="visible-xs">
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                        <h4>UX Designer & UI Developer</h4>
                        <p>
                            Built rich prototypes and applications using HTML5, CSS3, JavaScript, jQuery, AJAX, JSON, AngularJS, High Charts and

                            Bootstrap.
                        </p>
                        <p>
                            Involved in various phases of OEDS and EAS Dashboard Development Life Cycle with Requirement Analysis, Design,

                            Implementation and Testing.
                        </p>
                        <p>Designed User Interfaces for Mobile/Tablet/Desktop using HTML5, CSS3 &amp; Bootstrap.</p>
                        <p>
                            Experienced with AngularJS framework including MVC architectures, different modules, specific controllers, templates,

                            custom directives and custom filters and used AngularJS for dependency injections.
                        </p>
                        <p>Resolved cross browser compatibilities Issues for different versions of IE, Safari, Chrome, Firebox and Opera.</p>
                        <hr class="hidden-xs">
                    </div>

                    <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                        <h4><i class="fa fa-suitcase"></i> Ohio Department of Education</h4>
                        <i class="fa fa-calendar"></i> November 2015 - January 2017
                        <hr class="visible-xs">
                    </div>

                    <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                        <h4>MEAN-Stack UI Developer</h4>
                        <p>Lead engineer for a custom service department application built in Node/Angular with MongoDB.</p>
                        <p>Created a server-side module to import and validate all data from File Maker to MongoDB.</p>
                        <p>
                            Worked directly with product manager to design schema and built RESTful API to serve data to the
                            client side.
                        </p>
                        <p>
                            Built features including auto-complete, keyboard-shortcuts, dashboard, tabs, token-based
                            authentication and much more.
                        </p>
                        <p>Designed Node modules to minimize the time complexity of both write and read database operations.</p>
                        <hr class="hidden-xs">
                    </div>

                    <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                        <h4><i class="fa fa-suitcase"></i> Quorum Review</h4>
                        <i class="fa fa-calendar"></i> June 2015 - October 2015
                        <hr class="visible-xs">
                    </div>



                </div><!-- .row -->

                <!--<div class="row resume-items">

                    <div class="col-md-3 wow bounceInLeft">

                    </div>

                    <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
                        <h4>UI Developer</h4>
                        <p>Developed the User Interactive web pages in a professional manner using web technologies like HTML, XHTML and CSS based on the W3C and ADA standards.</p>
                        <p>Designing a Single Page Applications Framework using Angular JS with custom modules which can be reusable in different projects.</p>
                        <p>
                            Designing Mockups using Adobe Photoshop and also developed Angular JS Forms using Bootstrap.
                        </p>
                        <hr class="hidden-xs">
                    </div>

                    <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                        <h4><i class="fa fa-suitcase"></i> Blue Cross and Blue shield</h4>
                        <i class="fa fa-calendar"></i>  March 2014 - June 2015
                        <hr class="visible-xs">
                    </div>

                    <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                        <h4>UI Developer</h4>
                        <p>Worked in a 5 layering structured team environment to develop, enhance &amp; support web-based</p>
                        <p>Developed securing the application using form-based authentication using HTML, JavaScript, JQuery and CSS.</p>
                        <p>Created screens with table-less designs meeting W3C standards.</p>
                        <p>Performed Client side validation with bootstrap feedback icons and JQuery.</p>
                        <p>Implemented XML parsing and JSON parsing for data handling on different application.</p>
                        <hr class="hidden-xs">
                    </div>

                    <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                        <h4><i class="fa fa-suitcase"></i> US Foods</h4>
                        <i class="fa fa-calendar"></i> August 2013 - February 2014
                        <hr class="visible-xs">
                    </div>

                </div>-->

                <div class="row">

                    <div class="col-md-6 col-md-offset-3 wow bounceInUp">

                        <a href="#contact" target="_blank" class="btn btn-default btn-custom-2 pop-up"><i class="fa fa-paper-plane-o icon-before"></i> Contact to Know More</a>
                    </div>


                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!-- Resume section end -->

        <!-- Callout section start -->

        <section id="clients" class="callout">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 hidden-xs wow bounceInLeft">
                        <h3>Favorite Technologies</h3>
                    </div>

                    <div class="col-md-9 wow bounceInRight">

                        <div id="owl-clients" class="owl-carousel">
                            <div class="owl-item">
                                <img src="/images/html5.png" alt="">
                                <h4>HTML5</h4>
                            </div>
                            <div class="owl-item">
                                <img src="/images/bootstrap.png" alt="">
                                <h4>Bootstrap</h4>
                            </div>
                            <div class="owl-item">
                                <img src="/images/Javascript.png" alt="">
                                <h4>JavaScript</h4>
                            </div>

                            <div class="owl-item">
                                <img src="/images/jquery.jpeg" alt="">
                                <h4>JQuery</h4>
                            </div>
                            <div class="owl-item">
                                <img src="/images/AngularJS1.png" alt="">
                                <h4>Angular JS</h4>
                            </div>
                            <div class="owl-item">
                                <img src="/images/nodesquare.jpg" alt="">
                                <h4>Node JS</h4>
                            </div>

                            <!--<div class="owl-item">-->
                                <!--<img src="/images/rubysquare.png" alt="">-->
                                <!--<h4>Ruby on Rails</h4>-->
                            <!--</div>-->




                        </div>

                    </div><!-- .col-md-9 -->

                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!-- Callout section end -->

        <!-- Portfolio section start -->

        <section id="portfolio" class="section">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 headline wow bounceInDown">
                        <h2>Portfolio</h2>
                        <p>My best works.</p>
                    </div>

                    <div class="col-md-3 col-sm-12 wow bounceInLeft">
                        <a href="/images/parentDash.JPG" class="pop-up" title="Caption 1">
                            <div class="portfolio-item">
                                <div class="portfolio-item-preview">
                                    <img src="/images/parentDash.JPG" alt="">
                                </div>
                                <div class="portfolio-item-description">
                                    <h3><a href="https://safe.ode.state.oh.us" target="_blank">EAS Dashboard</a></h3>
                                    <p>Ohio Department of Education Enterprise Application</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-12 wow bounceInUp">
                        <a href="/images/serachOrg.PNG" class="pop-up" title="Caption 2">
                            <div class="portfolio-item">
                                <div class="portfolio-item-preview">
                                    <img src="/images/serachOrg.PNG" alt="">
                                </div>
                                <div class="portfolio-item-description">
                                    <h3><a href="https://oeds.ode.state.oh.us/SearchOrg" target="_blank">OEDS</a></h3>
                                    <p>Ohio Department of Education Directory System</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-12 wow bounceInRight">
                        <a href="/images/Quorum Review.png" class="pop-up" title="Caption 3">
                            <div class="portfolio-item">
                                <div class="portfolio-item-preview">
                                    <img src="/images/Quorum Review.png" alt="">
                                </div>
                                <div class="portfolio-item-description">
                                    <h3><a href="http://www.quorumreview.com/boards/our-boards/" target="_blank">Board App</a></h3>
                                    <p>Quorum Review Enterprise Application</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 wow bounceInRight">
                        <a href="/images/MEAN_APP.PNG" class="pop-up" title="Caption 3">
                            <div class="portfolio-item">
                                <div class="portfolio-item-preview">
                                    <img src="/images/MEAN_APP.PNG" alt="">
                                </div>
                                <div class="portfolio-item-description">
                                    <h3><a href="http://52.14.52.141/#!/" target="_blank">MEAN Application</a></h3>
                                    <p>End to End Working MEAN Stack Application deployed on AWS</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div><!-- .row -->

            </div><!-- .container -->
        </section>
    <section id="clients" class="callout">

            <div class="container">

                <div class="row">
<h4>Mockup Samples Designed with Adobe Creative Suite and GreenSock Animation Platform for Responsive SVG Layout </h4>
                    <div class="col-md-6 hidden-xs wow bounceInLeft">
                        
                        
<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="600px" height="600px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
<defs>
  <clipPath id="monitorEdgeMask">
    <path class="monitorEdgeMask" fill="#494D5D" d="M559.7,79h-520C32.5,79,27,84.6,27,91.8V403h546V91.8C573,84.6,566.9,79,559.7,79z"/>    
  </clipPath>
    <clipPath id="laptopBaseMask">
<path class="laptopBaseMask" fill="#FFFAEB" d="M487,409v15.5c0,3.8-3.2,7.5-7,7.5H120c-3.8,0-7-3.7-7-7.5V409H487z"/>     
    </clipPath>         
    <clipPath id="monitorStandMask">
    <rect class="monitorStandMask" x="23" y="455" fill="#EA2877" width="550" height="102"/>
</clipPath>
<clipPath id="tabletContentGroupMask">
    <path class="tabletContentGroupMask" fill="#BDCCD4" d="M218.5,386.5v-203c0-2.8,2.3-5,5-5h153c2.8,0,5,2.3,5,5v203c0,2.8-2.3,5-5,5h-153
        C220.8,391.5,218.5,389.3,218.5,386.5z"/>  
  </clipPath>
</defs>


<g class="monitorGroup" opacity="1">
    <g class="monitorStandGroup" clip-path="url(#monitorStandMask)">
    <path class="monitorStand" fill="#FFFAEB" d="M386.3,512H374l-20.7-57h-106L226,512h-12.3c-2.6,0-4.7,1.9-4.7,4.5s2.1,4.5,4.7,4.5
        h172.7c2.6,0,4.7-1.9,4.7-4.5S388.9,512,386.3,512z"/>
        </g>
    <polygon class="monitorStandShadow" fill="#D9D7D3" points="357.4,467 242.6,467 247.1,455 353.1,455  "/>
  <g class="monitorEdgeGroup" clip-path="url(#monitorEdgeMask)">
    <path class="monitorEdge" fill="#494D5D" d="M559.7,79h-520C32.5,79,27,84.6,27,91.8V403h546V91.8C573,84.6,566.9,79,559.7,79z"/>
    <path class="monitorScreen" fill="#BDCCD4" d="M544.5,383.3h-489c-3.8,0-7-3.1-7-7v-271c0-3.8,3.2-7,7-7h489c3.8,0,7,3.2,7,7v271
        C551.5,380.1,548.3,383.3,544.5,383.3z"/> 
<g class="monitorContentGroup" opacity="0.6">
    <path fill="#E5EBEE" d="M526.8,145H73.2c-3.2,0-5.7-2.6-5.7-5.7v-15.5c0-3.2,2.6-5.7,5.7-5.7h453.5c3.2,0,5.7,2.6,5.7,5.7v15.5
        C532.5,142.4,529.9,145,526.8,145z"/>
    <path fill="#8CA5B2" d="M157.9,364.5H73.1c-3.1,0-5.6-2.5-5.6-5.6v-58.7c0-3.1,2.5-5.6,5.6-5.6h84.7c3.1,0,5.6,2.5,5.6,5.6v58.7
        C163.5,362,161,364.5,157.9,364.5z"/>
    <path fill="#8CA5B2" d="M526.9,272.5H73.1c-3.1,0-5.6-2.5-5.6-5.6v-93.7c0-3.1,2.5-5.6,5.6-5.6h453.7c3.1,0,5.6,2.5,5.6,5.6v93.7
        C532.5,270,530,272.5,526.9,272.5z"/>
    <path fill="#E5EBEE" d="M530.5,306H190.2c-1.1,0-2-0.9-2-2v-7.5c0-1.1,0.9-2,2-2h340.3c1.1,0,2,0.9,2,2v7.5
        C532.5,305.1,531.6,306,530.5,306z"/>
    <path fill="#E5EBEE" d="M530.5,334.3H190.2c-1.1,0-2-0.9-2-2v-7.5c0-1.1,0.9-2,2-2h340.3c1.1,0,2,0.9,2,2v7.5
        C532.5,333.4,531.6,334.3,530.5,334.3z"/>
    <path fill="#E5EBEE" d="M530.5,364.5H190.2c-1.1,0-2-0.9-2-2V355c0-1.1,0.9-2,2-2h340.3c1.1,0,2,0.9,2,2v7.5
        C532.5,363.6,531.6,364.5,530.5,364.5z"/>    
</g>            
  </g>
    <path class="monitorBottom" fill="#FFFAEB" d="M573,403v39c0,7.1-6.1,13-13.3,13h-520c-7.2,0-12.7-5.9-12.7-13v-39H573z"/>

    <circle class="monitorLogo" fill="#A4ACBB" cx="300" cy="426" r="10"/>

</g>
<g class="laptopGroup" opacity="1">
    <!--path class="laptopEdge" fill="#FFFAEB" d="M468.5,175.5v226h-337v-226c0-3.9,3.2-7,7-7h323C465.3,168.5,468.5,171.6,468.5,175.5z"
        /-->
<path class="laptopEdgeLeft" fill="#FFFAEB" d="M310,401.5H131.5v-226c0-3.9,3.2-7,7-7H310"/>
<path class="laptopEdgeRight" fill="#FFFAEB" d="M290,168.5h171.5c3.8,0,7,3.1,7,7v226H290"/>
    <g class="laptopBaseGroup" clip-path="url(#laptopBaseMask)">
    <path class="laptopBase" fill="#FFFAEB" d="M487,409v15.5c0,3.8-3.2,7.5-7,7.5H120c-3.8,0-7-3.7-7-7.5V409H487z"/>
    </g>
    <polygon class="laptopTrackpad" fill="#A4ACBB" points="326.7,421.8 273.3,421.8 268.3,414.2 331.7,414.2  "/>
<path class="laptopScreen" fill="#BDCCD4" d="M452.7,391.9H147.3c-3.8,0-7-3.1-7-7V185.6c0-3.8,3.2-7,7-7h305.3c3.9,0,7,3.2,7,7
    v199.3C459.7,388.8,456.5,391.9,452.7,391.9z"/>
<g class="laptopContentGroup" opacity="0.6">
    <path fill="#E5EBEE" d="M437.8,212.3H164.1c-1.9,0-3.5-1.6-3.5-3.5v-9.4c0-1.9,1.6-3.5,3.5-3.5h273.7c1.9,0,3.5,1.6,3.5,3.5v9.4
        C441.2,210.7,439.7,212.3,437.8,212.3z"/>
    <path fill="#8CA5B2" d="M215.1,363.8H164c-1.9,0-3.4-1.5-3.4-3.4V325c0-1.9,1.5-3.4,3.4-3.4h51.1c1.9,0,3.4,1.5,3.4,3.4v35.4
        C218.5,362.3,217,363.8,215.1,363.8z"/>
    <path fill="#8CA5B2" d="M437.8,307.3H164c-1.9,0-3.4-1.5-3.4-3.4v-74.6c0-1.9,1.5-3.4,3.4-3.4h273.8c1.9,0,3.4,1.5,3.4,3.4v74.6
        C441.2,305.8,439.7,307.3,437.8,307.3z"/>
    <path fill="#E5EBEE" d="M440,328.5H234.6c-0.7,0-1.2-0.5-1.2-1.2v-4.5c0-0.7,0.5-1.2,1.2-1.2H440c0.7,0,1.2,0.5,1.2,1.2v4.5
        C441.2,327.9,440.7,328.5,440,328.5z"/>
    <path fill="#E5EBEE" d="M440,345.5H234.6c-0.7,0-1.2-0.5-1.2-1.2v-4.5c0-0.7,0.5-1.2,1.2-1.2H440c0.7,0,1.2,0.5,1.2,1.2v4.5
        C441.2,345,440.7,345.5,440,345.5z"/>
    <path fill="#E5EBEE" d="M440,363.8H234.6c-0.7,0-1.2-0.5-1.2-1.2v-4.5c0-0.7,0.5-1.2,1.2-1.2H440c0.7,0,1.2,0.5,1.2,1.2v4.5
        C441.2,363.3,440.7,363.8,440,363.8z"/>  
</g>
</g>

<g class="phoneGroup" opacity="0">
    <path class="phoneEdge" fill="#FFFAEB" d="M255.2,371.4V198.6c0-3.2,2.7-5.9,5.9-5.9h77.9c3.2,0,5.9,2.7,5.9,5.9v172.9
        c0,3.2-2.7,5.9-5.9,5.9h-77.9C257.8,377.3,255.2,374.7,255.2,371.4z"/>
    <circle class="phoneButton" fill="#9AA3B2" cx="300" cy="363.1" r="6"/>
    <circle class="phoneCamera" fill="#A4ACBB" cx="284.3" cy="203.6" r="1.5"/>
    <rect class="phoneScreen" x="262.1" y="214.3" fill="#BDCCD4" width="75.7" height="135.3"/>
    
        <line class="phoneSpeaker" fill="none" stroke="#9AA3B2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="292.5" y1="203" x2="307.5" y2="203"/>
  
<g class="phoneContentGroup" opacity="0.6">
    <path fill="#E5EBEE" d="M327.8,235.6h-55.3c-1,0-1.9-0.9-1.9-1.9v-7.3c0-1,0.9-1.9,1.9-1.9h55.3c1,0,1.9,0.9,1.9,1.9v7.3
        C329.7,234.8,328.8,235.6,327.8,235.6z"/>
    <path fill="#8CA5B2" d="M294.3,338.7h-21.9c-1,0-1.9-0.8-1.9-1.9v-25c0-1,0.8-1.9,1.9-1.9h21.9c1,0,1.9,0.8,1.9,1.9v25
        C296.2,337.8,295.3,338.7,294.3,338.7z"/>
    <path fill="#8CA5B2" d="M327.8,300.3h-55.4c-1,0-1.9-0.8-1.9-1.9v-51.7c0-1,0.8-1.9,1.9-1.9h55.4c1,0,1.9,0.8,1.9,1.9v51.7
        C329.7,299.4,328.8,300.3,327.8,300.3z"/>
    <path fill="#E5EBEE" d="M329,314.7h-25.6c-0.4,0-0.7-0.3-0.7-0.7v-3.4c0-0.4,0.3-0.7,0.7-0.7H329c0.4,0,0.7,0.3,0.7,0.7v3.4
        C329.7,314.4,329.4,314.7,329,314.7z"/>
    <path fill="#E5EBEE" d="M329,338.7h-25.6c-0.4,0-0.7-0.3-0.7-0.7v-3.4c0-0.4,0.3-0.7,0.7-0.7H329c0.4,0,0.7,0.3,0.7,0.7v3.4
        C329.7,338.4,329.4,338.7,329,338.7z"/>
    <path fill="#E5EBEE" d="M329,326.3h-25.6c-0.4,0-0.7-0.3-0.7-0.7v-3.4c0-0.4,0.3-0.7,0.7-0.7H329c0.4,0,0.7,0.3,0.7,0.7v3.4
        C329.7,326,329.4,326.3,329,326.3z"/>
</g>  
</g>
  
<g class="tabletGroup" opacity="1">
    <path class="tabletEdge" fill="#FFFAEB" d="M198.5,404.5v-239c0-7.7,6.3-14,14-14h175c7.7,0,14,6.3,14,14v239c0,7.7-6.3,14-14,14
        h-175C204.8,418.5,198.5,412.2,198.5,404.5z"/>
    <path class="tabletScreen" fill="#BDCCD4" d="M218.5,386.5v-203c0-2.8,2.3-5,5-5h153c2.8,0,5,2.3,5,5v203c0,2.8-2.3,5-5,5h-153
        C220.8,391.5,218.5,389.3,218.5,386.5z"/>
    <circle class="tabletButton" fill="#A4ACBB" cx="300" cy="406" r="6"/>
    <circle class="tabletCamera" fill="#A4ACBB" cx="300" cy="168" r="2"/>
  <g class="maskedTabletContentGroup" clip-path="url(#tabletContentGroupMask)">
    <g class="tabletContentGroup" opacity="0.6" >
      <path fill="#E5EBEE" d="M363.6,217.4H236.9c-1.9,0-3.5-1.6-3.5-3.5v-9.4c0-1.9,1.6-3.5,3.5-3.5h126.7c1.9,0,3.5,1.6,3.5,3.5v9.4
        C367,215.8,365.5,217.4,363.6,217.4z"/>
      <path fill="#8CA5B2" d="M288,368.9h-51.1c-1.9,0-3.4-1.5-3.4-3.4v-35.4c0-1.9,1.5-3.4,3.4-3.4H288c1.9,0,3.4,1.5,3.4,3.4v35.4
        C291.4,367.4,289.8,368.9,288,368.9z"/>
      <path fill="#8CA5B2" d="M363.6,312.4H236.8c-1.9,0-3.4-1.5-3.4-3.4v-74.6c0-1.9,1.5-3.4,3.4-3.4h126.8c1.9,0,3.4,1.5,3.4,3.4V309
        C367,310.9,365.5,312.4,363.6,312.4z"/>
      <path fill="#E5EBEE" d="M365.8,333.6h-58.4c-0.7,0-1.2-0.5-1.2-1.2v-4.5c0-0.7,0.5-1.2,1.2-1.2h58.4c0.7,0,1.2,0.5,1.2,1.2v4.5
        C367,333.1,366.5,333.6,365.8,333.6z"/>
      <path fill="#E5EBEE" d="M365.8,368.9h-58.4c-0.7,0-1.2-0.5-1.2-1.2v-4.5c0-0.7,0.5-1.2,1.2-1.2h58.4c0.7,0,1.2,0.5,1.2,1.2v4.5
        C367,368.4,366.5,368.9,365.8,368.9z"/>
      <path fill="#E5EBEE" d="M365.8,350.6h-58.4c-0.7,0-1.2-0.5-1.2-1.2v-4.5c0-0.7,0.5-1.2,1.2-1.2h58.4c0.7,0,1.2,0.5,1.2,1.2v4.5
        C367,350.1,366.5,350.6,365.8,350.6z"/>
    </g>  
  </g>
  </g>
    </svg>


                    </div>

                    <div class="col-md-6 wow bounceInRight">

  <div class="app__container" style="margin-top:15px;">

    <div class="app__container-slider">
    <div class="carousel-cell">
      <div class="app__hero app__hero--bg">
          <img src="/images/14.PNG" alt="">
      </div>
      <div class="app__body accordion">
        <div class="app__accordions">
          <div class="app__accordion">
            <div class="accordion__head">
              <div class="accordion__title">Mockups Designed With</div>
              <div class="accordion__icon"></div>
            </div>
            <div class="accordion__content">
              <p><strong>Adobe Photoshop</strong>  : Background with Customized Patterns, Layouts </p>
              <p><strong>Adobe Illustrator</strong>: To Draw SVG Graphs, Icons</p>
            </div>
          </div>
          <div class="app__accordion">
            <div class="accordion__head">
              <div class="accordion__title">Client Side Packages</div>
              <div class="accordion__icon"></div>
            </div>
            <div class="accordion__content">
               <p><strong>Angular JS 1.5</strong>  : UI Framework </p>
              <p><strong>Bootstrap</strong>: Responsive Framework</p>
             
            </div>
          </div>
          <div class="app__accordion">
            <div class="accordion__head">
              <div class="accordion__title">Server Side Packages</div>
              <div class="accordion__icon"></div>
            </div>
            <div class="accordion__content">
               <p><strong>Node JS</strong></p>
              <p><strong>Express</strong></p>
                <p><strong>Body Parser</strong></p>
                <p><strong>Passport</strong></p>
             <p><strong>EJS</strong></p>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-cell">
            <div class="app__hero app__hero--bg">
          <img src="/images/Capture.PNG" alt="">
      </div>
  
      <div class="app__boxes">
        <div class="app__box">
              <img src="/images/12.PNG" alt="">
        </div>
        <div class="app__box">
          <div class="app__box-content">
            <div class="app__box-title">Login Page</div>
            <div class="app__box-text">
           Please login with your existing username and password. If not Register to Create Account.
            </div>
          </div>
        </div>
        <div class="app__box">
        <div class="app__box-content">
            <div class="app__box-title">Register Page</div>
            <div class="app__box-text">
             Please Register to Create and Account in Event Hosting Application  
            </div>
          </div></div>
        <div class="app__box">
              <img src="/images/13.PNG" alt="">
        </div>
      </div>
    </div>
   <div class="carousel-cell">
            <div class="app__hero app__hero--bg">
          <img src="/images/land.PNG" alt="">
      </div>
  
      <div class="app__boxes">
        <div class="app__box">
              <img src="/images/23.PNG" alt="">
        </div>
        <div class="app__box">
          <div class="app__box-content">
            <div class="app__box-title">Landing Page</div>
            <div class="app__box-text">
           Helps users to have the brief introducation of the Application
            </div>
          </div>
        </div>
        <div class="app__box">
        <div class="app__box-content">
            <div class="app__box-title">SVG Footer</div>
            <div class="app__box-text">
             Designed with Pattern Overlay for Background on Footer,
             Timmer designed with Illustrator.
            </div>
          </div></div>
        <div class="app__box">
              <img src="/images/footer12.PNG" alt="">
        </div>
      </div>
    </div>
    </div>
  </div>

                    </div><!-- .col-md-9 -->

                </div><!-- .row -->

            </div><!-- .container -->

        </section>
        <!-- Portfolio section end -->

        <!-- Contact section start -->

        <section id="contact" class="section">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 headline wow bounceInLeft" style="margin-bottom: 20px;">
                        <h2>Contact Me</h2>
                        <p>Drop me an Email or give me a ring.</p>
                    </div>
                    <div class="col-md-4 wow bounceInUp">
                    <div class='spinner'></div>
                    </div>
                
                    <div class="col-md-8 wow bounceInUp">

                        <p>I'm good at Designing and developing the Single page application with Angular JS & Bootstrap3.
                            Building RESTful Web API , Custom Directives, loading different views using Nested States Angular Routing,
                            and Incorporating the application with Advance JavaScript techniques</p>

                        <ul class="icon-list">
                            
                            <li><i class="fa fa-fw fa-phone"></i>(614) 655- 6904</li>
                            <li><i class="fa fa-fw fa-envelope"></i>
                                <a href="mailto:karthik.uiAngular@gmail.com">karthik.uiAngular@gmail.com</a>
                            </li>
                            <li><i class="fa fa-fw fa-globe"></i>
                                <a href="#">www.KarthikNathani91.com</a>
                            </li>
                        </ul>

                    </div>


                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!-- Contact section end -->

        <!-- Footer start -->

        <footer id="footer">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">
                        <p class="copy text-center">
                            © 2011-2017 Karthik Nathani.
                        </p>
                    </div>

                </div><!-- .row -->

            </div><!-- .container -->

        </footer>

        <!-- Footer end -->

    </div><!-- .wrapper -->

    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Background slider -->
    <script src="/js/jquery.backstretch.min.js"></script>
    <!-- OwlCarousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Modal for portfolio -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Text rotator -->
    <script src="/js/jquery.simple-text-rotator.min.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.js"></script>
    <!-- CountTo  -->
    <script src="/js/jquery.countTo.js"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="/js/wow.min.js"></script>
    <!-- Smooth scroll -->
    <script src="/js/smoothscroll.js"></script>
    <!-- Fitvids -->
    <script src="/js/jquery.fitvids.js"></script>
    <!-- Custom scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="/js/conic-gradiant.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/svg.js"></script>

</body>
</html>