<!DOCTYPE html>
<html>

<head>
  <title>Karthik Nathani</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

<div class="container-fluid">
  <div class="col-md-10 col-sm-10">
    <div class="row">
      <a href="/"><button class="btn btn-primary">HomePage</button></a>
      <div><img src="/images/leviresume_1000px.jpg"></div>
    </div>
  </div>
</div>


</body>
</html>